<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>IdP Sample Application</display-name>
	
	<!--  according to log4j2 docs this must be the very first listener -->
	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	<filter>
		<filter-name>log4jServletFilter</filter-name>
		<filter-class>org.apache.logging.log4j.web.Log4jServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>log4jServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<context-param>
		<param-name>isLog4jContextSelectorNamed</param-name>
		<param-value>true</param-value>
   	</context-param>
	<context-param>
		<param-name>log4jContextName</param-name>
		<param-value>Idp Sample Application</param-value>
	</context-param>   	
	<!--  end of log4j2 config -->
	<context-param>
		<param-name>config-path</param-name>
		<param-value>config/</param-value>
   	</context-param>
   	<context-param>
		<param-name>users-props-file</param-name>
		<param-value>pingfederate-idp-demo-users.props</param-value>
   	</context-param>
   	<context-param>
		<param-name>config-file</param-name>
		<param-value>pingfederate-idp-config.props</param-value>
   	</context-param>
   	<context-param>
      		<param-name>opentoken-properties</param-name>
      		<param-value>agent-config.txt</param-value>
   	</context-param>

	<servlet>
		<servlet-name>IdpSampleAppControllerServlet</servlet-name>
		<display-name>IdpSampleAppControllerServlet</display-name>
		<servlet-class>
			com.pingidentity.sample.idp.servlet.IdpSampleAppControllerServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IdpSampleAppControllerServlet</servlet-name>
		<url-pattern>/MainPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IdpSampleAppControllerServlet</servlet-name>
		<url-pattern>/MainPage/</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/notFound.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>400</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<security-constraint>
        <web-resource-collection>
        	<web-resource-name>Restricted Access - Get and POST Only</web-resource-name>
        	<url-pattern>/*</url-pattern>
			<!--
            	Remove all the http methods below                                    
			-->
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
</web-app>
